<h1>Welcome <%= current_user.username %>!</h1>

<h2>Here are all of your investments you have!</h2>

<!-- investments: <%= @user.id %> -->


  <!-- <% if authorized_to_edit?(@institution) %>

  <a href="/institutions/<%= @institution.id %>/edit">Edit Institution</a> -->

  <!-- <form class="" action="/investments/<%= @investment.id>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Institution">
  </form> -->

  <!-- <% end %> -->
  <form class="" action="/investment/<%= @investment.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Investment">
  </form>

  <% end %>
