<h1>Welcome, <%= @user.username %>, Here Are All Of Your Investments</h1>

<% @institutions.each do |institution| %>

  <h4><a href="/investhub/<%= institution.id %>"><%= institution.name %></a></h4>
<!-- <form class="" action="/investhub/<%= @institution.id %>" method="post"> -->
<br><br>
  <!-- <strong>Created At: <%= post.created_at %></strong> -->
  <p><%= institution.year_founded %></p>
  <p><%= institution.industry %></p>
  <p><%= institution.description %></p>
  <p>By: <%= post.user.name %></p>
<% end %>

  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete This Company">
</form>
